<div class="archive">
    <ul>
    {{#each pageModel.posts}}
        <a class="button" href="/{{../pageModel.id}}/{{dir}}"><b>{{title}}</b>   {{dateFormat published}}</a>
    {{/each}}
    </ul>
</div>
