html {
    height: 100%;
    width: 100%
}

.content {
    margin: auto 0;
}

.title {
    text-align: center;
}

.bgText {
    position: absolute;
    color: rgba(255,255,255,0.8);
    z-index: 0;
    margin-left: 7%;
}

.path {
    overflow-x: hidden;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    padding: 10px;
    margin: 40px 0 40px 0;
    color: rgba(0,0,0,0.5);
    background-color: rgba(255,255,255,0.8);
    border-radius: 7px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
}

/**
 * Media queries
 */

@media (max-width: 500px) {
    .title { font-size: 1000%; }
    .bgText { font-size: 500%; }
    h1 { font-size: 150%; }

    .content {
        width:80%;
    }
}

@media (min-width: 501px) and (max-width: 950px){
    .title { font-size: 1500%; }
    .bgText { font-size: 750%; }
    h1 { font-size: 190%; }

    .content {
        width:68%;
    }
}

@media (min-width: 951px) {
    .title { font-size: 2000%; }
    .bgText { font-size: 1000%; }
    h1 { font-size: 250%; }

    .content {
        width:50%;
    }
}
