@import url(https://fonts.googleapis.com/css?family=RobotoDraft:300,500,700|Roboto+Mono:300,500,700);

/* html reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }
span.hljs-comment { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

/* global shortcuts */
.clearfix { clear: both !important; }
.hidden { display: none !important; }
.disabled { opacity: 0.4; cursor: default; background-color: transparent !important; }

body {
	font-family: "RobotoDraft";
	font-weight: 300;
	font-size: 1em;
	color: rgb(20, 50, 90);
	line-height: 1.4;
	background-color: #d9ecff;
}

/*
* Built-in
*/
h1 { font-size: 2.0em; font-weight: 500; margin: 2.0em 0 1.6em 0 }
h2 { font-size: 1.8em; font-weight: 500; margin: 1.8em 0 1.4em 0 }
h3 { font-size: 1.6em; font-weight: 500; margin: 1.6em 0 1.2em 0 }
h4 { font-size: 1.4em; font-weight: 500; margin: 1.4em 0 1.0em 0 }
h5 { font-size: 1.2em; font-weight: 500; margin: 1.2em 0 0.8em 0 }

p {
    margin-bottom: 15px;
}
a {
	text-decoration: none;
	color: rgb(0, 127, 194);
}
strong, b {
	font-weight: bold;
	opacity: 0.8;
}
em {
	font-style: italic;
}
blockquote, q {
	margin: 10px 30px 20px 20px;
	padding-left: 10px;
	font-style: italic;
	border-left: 1px solid rgba(0,0,0,0.1);
}

/*
* Buttons
*/
a.button {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	text-decoration: none;
	color: rgba(20, 50, 90, 0.8);
	padding: 10px;
	font-weight: 700;
}
a.back_up {
	position:fixed;
	left: 0;
	top: 5%;
	border-radius: 0 5px 5px 0;
}

/*
* Dynamic background
*/
.paperscript {
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 1;
}


.inner {
	position: relative;
	z-index: 10;
}
.page {
	width: 88%;
	margin: 0 auto;
	padding: 40px 0 40px 0;
}

/*
* Nav bar
*/
#nav_bar {
	margin: 0 auto;
	margin-top: 20px;
	width: 90%;
}
#nav_bar .button {
	display: block;
	margin-bottom: 7px;
	border-radius: 5px;
	font-size: 110%;
	border: none;
}
#mobile_label {
	display: block;
	text-align: center;
	border-radius: 0 0 5px 5px !important;
	padding: 10px;
	width: 40%;
	margin: 0 auto;
}

/*
* Code
*/
.source_code {
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-size: 80%;
	color: rgba(20, 50, 90, 1);
    margin: 10px 0 10px 0;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255,0.5);
}
.source_code.inline {
	padding: 2px;
	margin: 0 3px 0 3px;
	border-radius: 3px;
}
.source_code.title {
	font-size: 90%;
}
.source_code .command {
    color: rgba(20, 50, 90, 0.8);
    font-weight: 700;
	word-spacing: normal;
	margin-bottom: 20px;
}

.inner > .title {
	font-weight: 300;
	margin: 30px 5% 0 5%;
}

.inner > .title > .text {
	line-height: normal;
	margin: 0 auto;
	text-align: center;
	text-shadow: 1.5px 1px 0.5px rgba(0,0,0,0.4);
	font-size: 2.5em;
	background-color: transparent;
}
.inner .page_blurb {
	padding: 0 5px 15px 5px;
	text-align: center;
}

.page > .content img.pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*
* Blog
*/
.post {
	margin-bottom: 80px;
}

.post .title {
	display: block;
	margin-bottom: 20px;
	padding: 15px;
}

.post > .body {
	margin-bottom: 30px;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
.post .title .published {
	font-weight: 300;
	font-size: 90%;
}
.post > .body .heading {
	margin: 30px 0 15px 5px;
	font-weight: bold;
	opacity: 0.8;
	font-size: 110%;
}
.post > .body .media {
	margin: 20px auto 20px auto;
	width: 96%;
	height: auto;
	display: block;
}
.youtubeWrapper {
  max-width: 98%;
  margin: 0px auto;
  margin-bottom: 20px;
}

.youtubeWrapper > .inner {
  position: relative;
  padding-bottom: 60%;
  height: 0px;
}

.youtubeWrapper > .inner iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.post .prefix {
	margin: 0 5px 0 10px;
	font-weight: bold;
}
.post .tags {
	display: inline;
}
.post a.tag {
	font-weight: normal;
	border-radius: 2px;
	padding: 5px;
}
.posts > .nav {
	margin-top: -30px;
	margin-bottom: 30px;
}
.posts > .nav a.older {
	float: left;
}
.posts > .nav a.newer {
	float: right;
}

/*
* Footer
*/
#footer {
    text-align: center;
	margin: 20px 0px 30px 0px;
}
#footer .inner {
	font-size: small;
	display: inline-block;
}
#footer > .inner > [class^="icon-"] {
	display: inline-block;
	transform: translateY(4px);
	margin: 0 3px 0 3px;
	font-size: 150%;
}

/*
* Night time theme
*/

.night {
	color: #D5D5D5;
	background-color: #003366;
}

.night .source_code {
	color: rgba(255, 255, 255, 0.75);
	background-color: rgba(255, 255, 255,0.15);
}

.night .source_code .command {
	color: rgba(255, 255, 255, 0.8);
	font-weight: bold;
}

.night a {
	color: white;
}

.night a.title.source_code.button {
	text-decoration: none;
}


.night a.button {
	background-color: rgba(255, 255, 255, 0.15);
	text-decoration: none;
	font-weight: 300;
	color: #D5D5D5;
}

/*
* Media queries
*/

/* Mobile */
@media (max-width: 500px) {
	.no_mobile { display: none !important; }
}

/* Tablet */
@media (min-width: 501px) and (max-width: 950px) {
	.no_tablet { display: none !important; }

	body {
		min-width: 501px;
	}

	.inner > .title {
		width: 85%;
	}
	.inner > .title > .text {
		background-color: transparent;
	}

	.page {
		margin: auto;
		width: 83%;
	}
}

/* Common to Tablet AND Desktop */
@media (min-width: 501px) {
	body {
		font-size: 1em;
	}

	#nav_bar {
		top: 0;
		left: 0;
		margin: 0;
		margin-top: 0;
		padding-left: 5%;
	}

	#nav_bar .button {
		display: inline-block;
		margin: 0 3px 0 3px;
		border-radius: 0 0 5px 5px;
		padding: 10px;
		font-size: 100%;
		font-weight: normal;
	}

	.inner > .title > .text {
		font-size: 4em;
	}

	.page > .content img.pic {
		float: right;
		margin-top: -10px;
	}
}

/* Desktop */
@media (min-width: 951px) {
	.no_desktop { display: none !important; }

	body {
		min-width: 951px;
	}

	a:hover {
		text-decoration: underline;
	}

	a.button:hover {
		background-color: rgba(255, 255, 255, 0.7);
		text-decoration: none;
	}

	/* title */
	.inner > .title {
		width: 22%;
		float: right;
		margin: 0;
		margin-top: 20px;
		padding-right: 0;
		margin-right: 7%;
	}
	.inner > .title > .text {
		text-align: right;
		padding-bottom: 20px;
	}
	.inner > .title > .text .narrow {
		display: none;
	}
	.inner > .title > .status {
		display: block;
		width: 85%;
		margin-left: auto;
		font-size: 90%;
		text-align: right;
	}
	.inner > .title > .status img {
		padding-top: 10px;
		width: 65%;
		display: inline-block;
		margin: 0 auto;
	}

	.inner .page_blurb {
		padding: 0 5px 0 5px;
		text-align: left;
	}

	.page {
		width: 60%;
		margin-left: 7%;
	}

	.night a.button:hover {
		background-color: rgba(255, 255, 255, 0.3);
		/*text-decoration: underline;*/
	}
	.night a.button.disabled:hover {
		text-decoration: none;
	}
}

/*
* Icons
* -----
*/
@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?-4fpsci');
	src:url('fonts/icons.eot?#iefix-4fpsci') format('embedded-opentype'),
		url('fonts/icons.ttf?-4fpsci') format('truetype'),
		url('fonts/icons.woff?-4fpsci') format('woff'),
		url('fonts/icons.svg?-4fpsci#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-home3:before {
	content: "\e600";
}
.icon-pencil:before {
	content: "\e64b";
}
.icon-pen:before {
	content: "\e64c";
}
.icon-blog:before {
	content: "\e64d";
}
.icon-file-text2:before {
	content: "\e603";
}
.icon-file-picture:before {
	content: "\e604";
}
.icon-folder:before {
	content: "\e605";
}
.icon-price-tags:before {
	content: "\e606";
}
.icon-display:before {
	content: "\e607";
}
.icon-mobile:before {
	content: "\e608";
}
.icon-tablet:before {
	content: "\e609";
}
.icon-quotes-left:before {
	content: "\e60a";
}
.icon-quotes-right:before {
	content: "\e60b";
}
.icon-cog:before {
	content: "\e60c";
}
.icon-gift:before {
	content: "\e60d";
}
.icon-glass2:before {
	content: "\e60e";
}
.icon-rocket:before {
	content: "\e60f";
}
.icon-fire:before {
	content: "\e610";
}
.icon-airplane:before {
	content: "\e611";
}
.icon-truck:before {
	content: "\e612";
}
.icon-sphere:before {
	content: "\e613";
}
.icon-attachment:before {
	content: "\e614";
}
.icon-star-full:before {
	content: "\e615";
}
.icon-heart:before {
	content: "\e616";
}
.icon-man:before {
	content: "\e617";
}
.icon-woman:before {
	content: "\e618";
}
.icon-man-woman:before {
	content: "\e619";
}
.icon-happy:before {
	content: "\e61a";
}
.icon-smile:before {
	content: "\e61b";
}
.icon-tongue:before {
	content: "\e61c";
}
.icon-sad:before {
	content: "\e61d";
}
.icon-wink:before {
	content: "\e61e";
}
.icon-grin:before {
	content: "\e61f";
}
.icon-cool:before {
	content: "\e620";
}
.icon-angry:before {
	content: "\e621";
}
.icon-evil:before {
	content: "\e622";
}
.icon-shocked:before {
	content: "\e623";
}
.icon-baffled:before {
	content: "\e624";
}
.icon-confused:before {
	content: "\e625";
}
.icon-neutral:before {
	content: "\e626";
}
.icon-hipster:before {
	content: "\e627";
}
.icon-wondering:before {
	content: "\e628";
}
.icon-sleepy:before {
	content: "\e629";
}
.icon-frustrated:before {
	content: "\e62a";
}
.icon-crying:before {
	content: "\e62b";
}
.icon-warning:before {
	content: "\e62c";
}
.icon-blocked:before {
	content: "\e62d";
}
.icon-checkmark:before {
	content: "\e62e";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-right:before {
	content: "\e62f";
}
.icon-arrow-down:before {
	content: "\e630";
}
.icon-arrow-left:before {
	content: "\e631";
}
.icon-arrow-up2:before {
	content: "\e602";
}
.icon-arrow-right2:before {
	content: "\e632";
}
.icon-arrow-down2:before {
	content: "\e633";
}
.icon-arrow-left2:before {
	content: "\e634";
}
.icon-circle-up:before {
	content: "\e635";
}
.icon-circle-right:before {
	content: "\e636";
}
.icon-circle-down:before {
	content: "\e637";
}
.icon-circle-left:before {
	content: "\e638";
}
.icon-command:before {
	content: "\e64e";
}
.icon-shift:before {
	content: "\e64f";
}
.icon-ctrl:before {
	content: "\e650";
}
.icon-opt:before {
	content: "\e651";
}
.icon-embed2:before {
	content: "\e639";
}
.icon-terminal:before {
	content: "\e63a";
}
.icon-share2:before {
	content: "\e63b";
}
.icon-facebook2:before {
	content: "\e63c";
}
.icon-instagram:before {
	content: "\e63d";
}
.icon-twitter:before {
	content: "\e63e";
}
.icon-github:before {
	content: "\e63f";
}
.icon-github3:before {
	content: "\e640";
}
.icon-github5:before {
	content: "\e641";
}
.icon-apple:before {
	content: "\e642";
}
.icon-finder:before {
	content: "\e643";
}
.icon-android:before {
	content: "\e644";
}
.icon-windows8:before {
	content: "\e645";
}
.icon-linkedin:before {
	content: "\e646";
}
.icon-linkedin2:before {
	content: "\e647";
}
.icon-lastfm:before {
	content: "\e648";
}
.icon-lastfm2:before {
	content: "\e649";
}
.icon-libreoffice:before {
	content: "\e64a";
}
