a {
	&.button {
		background-color: rgba(255, 255, 255, 0.4);
		border-radius: 5px;
		text-decoration: none;
		color: rgba(20, 50, 90, 0.8);
		padding: 10px;
		font-weight: 500;
		&:hover {
			background-color: rgba(255, 255, 255, 0.7);
			text-decoration: none;
		}
	}
	&.back_up {
		position:fixed;
		left: 0;
		top: 5%;
		border-radius: 0 5px 5px 0;
	}
}
