// TODO move relevant stuff to variables.less

/* Text styling */

@font-type-default: "Raleway", sans-serif;
@font-colour-default: rgb(20, 50, 90);
@font-weight-default: 300;
@font-size-default: 1em;

@font-type-code: "Roboto Mono", monospace;
@font-colour-code: rgba(20, 50, 90, 1);
@font-weight-code: 400;

/* Colours */

// TODO colours

/* Screen sizes */

@mobile: ~"only screen and (max-width: 500px)";
@tablet: ~"only screen and (min-width: 501px) and (max-width: 950px)";
@desktop: ~"only screen and (min-width: 951px)";
